<template>
  <v-row>
    <v-col cols="12">
      <p class="text-center">You are logged in the system</p>
    </v-col>
    <v-col cols="12" class="d-flex justify-center">
      <v-btn color="warning" large @click="logoutHandler()"> Log out </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Home",
  methods: {
    logoutHandler() {
      this.$router.push({ name: "login" });
    },
  },
};
</script>
