<template>
  <v-form v-model="isValidLogin">
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="email"
            :rules="rules.email"
            label="E-post"
            type="email"
            name="email"
            required
            @input="isShownAlert = false"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <v-text-field
            :append-icon="showEyeIcon ? 'mdi-eye' : 'mdi-eye-off'"
            v-model="password"
            :rules="rules.password"
            :type="showEyeIcon ? 'text' : 'password'"
            name="password"
            label="Password"
            class="input-group--focused"
            required
            @click:append="showEyeIcon = !showEyeIcon"
            @input="isShownAlert = false"
          >
          </v-text-field>
        </v-col>

        <v-col cols="12">
          <v-alert
            v-if="isValidLogin && isShownAlert"
            dense
            outlined
            prominent
            type="error"
          >
            <strong>Invalid credentials</strong>
            <br />
            The email or password you entered doesn't match
          </v-alert>
        </v-col>

        <v-col cols="6">
          <a href="#" class="text-decoration-none">Glemt password?</a>
        </v-col>

        <v-col cols="6" class="d-flex justify-end">
          <v-btn
            :disabled="!isValidLogin"
            color="success"
            class="text-uppercase"
            @click="loginHandler()"
          >
            Logg Inn
          </v-btn>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "LoginForm",
  data: () => ({
    isValidLogin: false,
    isShownAlert: false,
    email: "",
    password: "",
    rules: {
      email: [
        (v) => !!v || "E-post Påkrevd",
        (v) => /.+@.+/.test(v) || "E-post Påkrevd",
      ],
      password: [
        (v) => !!v || "Password Påkrevd",
        (v) => v.length >= 5 || "Passordet må være lik eller større enn 5 tegn",
      ],
    },
    showEyeIcon: false,
    accList: null,
  }),
  
  computed: {
    ...mapGetters({
      authenticated: "authenticated",
    }),
  },

  methods: {
    ...mapActions(["checkCredentials"]),

    loginHandler() {
      this.checkCredentials({ email: this.email, password: this.password });
      this.isShownAlert = !this.authenticated;
    },
  },
};
</script>
