<template>
  <div id="app">
    <v-app>
      <v-main>
        <v-container>
          <v-row class="d-flex justify-center">
            <v-col cols="4" md="6" sm="10">
              <img alt="SYSTIMA" src="./assets/logo.png" width="100%"/>
            </v-col>
          </v-row>

          <router-view></router-view>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>
